section{
     height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
    color: aliceblue;
    background-color: rgb(115, 182, 105);
    background-blend-mode: darken;
}
p{
    text-align: center;
}
.wrapper th{
    font-weight: 200;
}
.hero{
    background-image: url(images/25763606_m.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: start;
}
.hero img{
width: 25%;
border: 3px solid #000;
}
.title1{
    font-family: 'Dancing Script', cursive;
    font-size: 7em;
    color: rgb(20, 61, 163);
    text-align: center;
    text-shadow: 3px 3px 3px rgba(14, 50, 134, 0.4);
}

.title2{
    font-family: 'Dancing Script', cursive;
    font-size: 7em;
    color: rgb(40, 143, 181);
    text-align: center;
}

.title3{
    font-family: 'Dancing Script', cursive;
    font-size: 7em;
    color: rgb(22, 82, 143);
    text-align: center;
}


@media(max-width:700px){
   .title {
    font-size: 5rem;
   }
}
.menu{
    background-image: url(images/green-tea-g426d601ce_1920.jpg);
}

.contact{
    background-image:url(images/23327682_m.jpg) ;
}
.wrapper{
    width: 500px;
    margin: 0 auto;
}
.contact-sns{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.wrapper th, .wrapper td{
    padding:10px ;
}
.contact i{
    padding: 20px ;
}
.contact p{
    padding: 20px;
}
.hero p{
    padding: 20px;
    line-height: 3.5em;
}
